<!-- Lista de tareas en tarjetas con Grid -->
<div class="task-container">
    <div class="task-item">
        <h2 class="task-text">LISTA DE TAREAS</h2>
        <button class="btn btn-primary" routerLink="/crear-tarea" routerLinkActive="active"
            ariaCurrentWhenActive="page">Crear Nueva Tarea</button>
    </div>
</div>
<div class="container mt-3">
    <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div *ngFor="let tarea of listTareas" class="col">
            <div *ngIf="listTareas.length > 0" class="card">
                <div class="card-body">
                    <h5 class="card-title">{{tarea.titulo}}</h5>
                    <p class="card-text">{{tarea.descripcion}}</p>
                    <p class="card-text"><strong>Fecha de Creacion:</strong> {{tarea.fechaCreacion}}</p>
                    <p class="card-text"><strong>Fecha de Vencimiento:</strong> {{tarea.fechaVencimiento}}</p>
                    <p class="card-text"><strong>Estado:</strong> {{tarea.completada}}</p>
                    <br>
                    <div class="d-flex justify-content-between">
                        <button [routerLink]="['/editar-tarea', tarea._id]" class="btn btn-primary">
                            <i class="fas fa-edit"></i> Editar</button>
                        <!-- <button class="btn btn-success">Cambiar Estado</button> -->
                        <button (click)="eliminarTarea(tarea._id)" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i> Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h5 class="text-center mt-5 fw-bold" style="color: red;" *ngIf="listTareas.length == 0">NO HAY TAREAS QUE MOSTRAR</h5>
    <br>
</div>